body {
margin: 0;
padding: 20px;
background-color: #289250;
text-align: center;
font-family: "Itim", cursive;
}
h1 {
color: wheat;
}
.input-number{
    border-radius: 25rem;
    padding: 4px 10px;
    font-family: inherit;
    border: solid black 2px;
    background-color: wheat;
    color: black;
    font-weight: 700;
    box-shadow: 3px 2px 0px 0px rgba(3, 68, 25, 0.785);
    font-size: 1.2rem;
    max-width: 80%;
    z-index: 4;
  }
button {
padding: 10px 20px;
font-size: 16px;
margin-top: 20px;
cursor: pointer;
}

#button-defi-valider{
border: solid 2px black;
border-radius: 26px;
box-shadow: 3px 3px 0px 0px rgba(39, 18, 1, 0.785);
background-color: #9a0c0d;
color: wheat;
cursor: pointer;
user-select: none; /* Empêche la sélection de texte */
transition: background-color 0.3s ease, box-shadow 0.1s ease-in-out, transform 0.2s ease;
}


#button-defi-valider:hover{
background-color: #be0b0b;
transform: scale(1.1);
box-shadow: 6px 5px 0px 0px rgba(39, 18, 1, 0.85);
}

#button-defi-valider:active{
background-color: #be0b0b;
transform: scale(0.9);
box-shadow: 4px 3px 0px 0px rgba(39, 18, 1, 0.85);
}